# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets downloaded by PyTorch/torchvision
# It's bad practice to store large datasets in Git
data/

# Virtual environment folders
venv/
env/
